## Converse Product Launch Network Analysis
- proof of concept
- focus on Chuck II launch

In [2]:
import pandas as pd
import networkx as nx
import numpy as np
import seaborn as sns
import matplotlib as plt

In [3]:
chuck = pd.read_csv("chuckii_twitter.csv", encoding = "ISO-8859-1")
print(chuck.shape)
chuck.head()

(4852, 17)

,GUID,Date (EST),URL,Contents,Author,Name,Country,State/Region,City/Urban Area,Category,Emotion,Source,Klout Score,Gender,Posts,Followers,Following
0,625450197393506304,7/26/2015 19:38,http://twitter.com/AvriilR5/status/62545019739...,RT @rikerR5 Cannot wait to get a pair of these...,@AvriilR5,Kade,NaN,NaN,NaN,Purchase Intent,NaN,Twitter,36.0,M,3715,394,916
1,626396332106874880,7/29/2015 10:18,http://twitter.com/Nikkintense_/status/6263963...,Converse Chuck II #discount,@Nikkintense_,Nikki,Netherlands,NaN,NaN,Value for money,NaN,Twitter,36.0,F,48684,338,520
2,625949463362695168,7/28/2015 4:42,http://twitter.com/Mertyyy_/status/62594946336...,"#ChuckII the fudge, i want the black and whit...",@Mertyyy_,Merliza Tolentino,Philippines,NaN,NaN,Purchase Intent,NaN,Twitter,29.0,NaN,2578,146,200
3,626754272772788224,7/30/2015 10:00,http://twitter.com/_MieuKun_/status/6267542727...,Tui ch? b?n holiday c?a converse Chuck II ra r...,@_MieuKun_,_Miêu Miêu_,Vietnam,NaN,NaN,Value for money,NaN,Twitter,23.0,NaN,8374,121,298
4,626067239456886784,7/28/2015 12:30,http://twitter.com/MandiSilva99/status/6260672...,Chuck II,@MandiSilva99,-,Brazil,Distrito Federal,Brasilia,Value for money,NaN,Twitter,36.0,NaN,8273,289,189

In [4]:
retweeted = []
for row in range(0, len(chuck)):
    retweeted.append("")
    if chuck['Contents'][row].split()[0] == "RT":
        retweeted[-1] = (chuck['Contents'][row].split()[1])

chuck['retweeted'] = retweeted

In [5]:
chuck.head()

,GUID,Date (EST),URL,Contents,Author,Name,Country,State/Region,City/Urban Area,Category,Emotion,Source,Klout Score,Gender,Posts,Followers,Following,retweeted
0,625450197393506304,7/26/2015 19:38,http://twitter.com/AvriilR5/status/62545019739...,RT @rikerR5 Cannot wait to get a pair of these...,@AvriilR5,Kade,NaN,NaN,NaN,Purchase Intent,NaN,Twitter,36.0,M,3715,394,916,@rikerR5
1,626396332106874880,7/29/2015 10:18,http://twitter.com/Nikkintense_/status/6263963...,Converse Chuck II #discount,@Nikkintense_,Nikki,Netherlands,NaN,NaN,Value for money,NaN,Twitter,36.0,F,48684,338,520,
2,625949463362695168,7/28/2015 4:42,http://twitter.com/Mertyyy_/status/62594946336...,"#ChuckII the fudge, i want the black and whit...",@Mertyyy_,Merliza Tolentino,Philippines,NaN,NaN,Purchase Intent,NaN,Twitter,29.0,NaN,2578,146,200,
3,626754272772788224,7/30/2015 10:00,http://twitter.com/_MieuKun_/status/6267542727...,Tui ch? b?n holiday c?a converse Chuck II ra r...,@_MieuKun_,_Miêu Miêu_,Vietnam,NaN,NaN,Value for money,NaN,Twitter,23.0,NaN,8374,121,298,
4,626067239456886784,7/28/2015 12:30,http://twitter.com/MandiSilva99/status/6260672...,Chuck II,@MandiSilva99,-,Brazil,Distrito Federal,Brasilia,Value for money,NaN,Twitter,36.0,NaN,8273,289,189,

In [6]:
adj_df = pd.crosstab(chuck.Author, chuck.retweeted)
#idx = adj_df.columns.union(adj_df.index)
#adj_df = adj_df.reindex(index = idx, columns = idx, fill_value = 0)

In [7]:
print(adj_df.shape)
adj_df.head()

(4312, 178)

retweeted,,@1w4nkb3j0,@21yojennaira,@AllenDariel,@AmazingJDM,@AnOrchidInBloom,@AnneKeyt,@ArmaeMendoza,@CampaignJordie,@Candyblues1,...,@sourpatchjaz,@thejedgentry,@theminxyone,@timileighton,@tp_kiwi,@tysmansp,@withlovepromise,@xxxvianksxxx,@youngshan,Kyle_JSimmons
Author,,,,,,,,,,,,,,,,,,,,,
@00years,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
@0701Marianaa,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
@0mgstyls,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
@10Xmoisy,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
@1221lover_,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
%matplotlib inline
sns.heatmap(adj_df)